<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258373360488-h2lrk703j71hjmfdqa38n2g1n71gscg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258373360488-h2lrk703j71hjmfdqa38n2g1n71gscg3</string>
	<key>API_KEY</key>
	<string>AIzaSyAWag1Rk37vfP1KVLktuin717ncjBS_LGc</string>
	<key>GCM_SENDER_ID</key>
	<string>258373360488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.lesson1.pavel-bazylevich.testProjectForXoneCompany</string>
	<key>PROJECT_ID</key>
	<string>testprojectforxonecompany</string>
	<key>STORAGE_BUCKET</key>
	<string>testprojectforxonecompany.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258373360488:ios:1471aee29682760d3494dd</string>
</dict>
</plist>